.drum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #888;
}

.drum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 20px; */
}

.drum-name {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.drum-pads {
  position: relative;
  width: 1000px;
  height: 1000px;
  border-radius: 80%;
  /* background-color: #666; */
  transform: rotate(45deg);
  /* overflow: hidden; */
}

.drum-pad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
              0 5px 10px rgba(0, 0, 0, 0.5);
} 

.drum-pad:nth-child(1) {
  /* hihat */
  top: 85%;
  left: 30%;
}

.drum-pad:nth-child(2) {
  /* open-hihat */
  top: 100%;
  left: 25%;
}

.drum-pad:nth-child(3) {
  /* snare */
  top: 82%;
  left: 53%;
}

.drum-pad:nth-child(4) {
  /* kick */
  top: 95%;
  left: 70%;
}

.drum-pad:nth-child(5) {
  /* crash */
  top: 60%;
  left: 15%;
}

.drum-pad:nth-child(6) {
  /* ride */
  top: 25%;
  left: 50%;
}

.drum-pad:nth-child(7) {
  /* tom 1 */
  top: 65.5%;
  left: 38%;
}

.drum-pad:nth-child(8) {
  /* tom2 */
  top: 50%;
  left: 55%;
}

.drum-pad:nth-child(9) {
  /* floor tom */
  top: 62.5%;
  left: 70%;
}

.drum-pad-label {
  position: absolute;
  top: 40%;
  left: 30%;
}

.drum-pad:hover {
  background-color: #444;
}

.drum-pad.active {
  background-color: #777;
}


/* .drum-pad.snare {
  background-color: #fff;
}

.drum-pad.hi-hat {
  background-color: #999;
}

.drum-pad.kick {
  background-color: #f00;
}

.drum-pad.crash {
  background-color: #f90;
}

.drum-pad.ride {
  background-color: #ddd;
}

.drum-pad.floor-tom {
  background-color: #0f0;
} */
